@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
	display: none;
}

/* Firefox */
html {
	scrollbar-width: none;
}
